@{
    Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Author>;

<h2>Authors</h2>

@if (Model.Count == 0)
{
    <h3>No Authors have been added yet!</h3>
}

@foreach (Author author in Model)
{
    <li>
        @Html.ActionLink($"{ author.AuthorName }", "Details", new { id = author.AuthorId })
    </li>
}

<p>@Html.ActionLink("Add new Author", "Create")</p>
<p>@Html.ActionLink("Back to Books", "Index", "Books")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
